.ingredients_container {
    margin-left: 270px;
    padding: 2% 5%;
    position: relative;
}
.ingredients_table{
    margin-top: 150px;
}
.ingredients_search_input {
    position:absolute;
    right: 7%;
    top: 200px;
}
.ingredients_pop_up {
    height:100vh;
    width: 100%;
    background-color: red;
}