.login_screen{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/login_screen_background.png);
    color: white;
    font-weight: 300;
    width: 100%;
    height: 100vh;
    position:relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-screen-icon-container{
    border: solid 7px;
    border-color:rgba(235, 205, 38,0.7);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;
    border-radius:50%;
}
.login_screen .bx {
    font-size:5rem;
    color:rgba(235, 205, 38);
}
.login_input{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.3);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
    display: block;
    text-align: left;
    font-size: 18px;
    color: white;
    font-weight: 300;
}
.login_input:focus
{
    border: 1px solid #ffffff;
    box-shadow: 0 0 3px #ffffff;
    outline-offset: 0px;
    outline: none;
}
.login_input::placeholder{
    color:rgb(179, 155, 155);
}
.form_container {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}
.primary {
    color: blue;
}
footer {
    position:absolute;
    top: 90%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
.login_header {
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.login_button {
    background-color:rgba(39, 29, 85,0.8);
    color:rgb(218, 218, 218);
    border-radius: 12px;
    border: solid 1px;
    border-color: rgba(39, 29, 85,0.8);
    font-weight: bold;
    margin-top: 3px;
    width: 100%;
    height: 40px;
}
.login_button:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color:rgba(39, 29, 85);

}

.login-screen-brand-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.login-screen-brand-container p{
    margin-top: 0.5rem;
    color:rgba(235, 205, 38);
    font-weight: bold;
}

.register_directory{
    display: block;
    text-align: right;
    text-decoration: none;
    color:white;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}