

.menubox_container{
  margin-top:50px;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.menu_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
    
}
.categories {
  float: left;
  margin: 16px;
}

.categories li {
  list-style-type: none;
}
.receipt{
  position: relative;
  padding: 2% 2%;
  float: right;
  margin: 16px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 200px;
  height: 200px;
  overflow: auto;
}
.note_container{
  margin: auto;
  width: 500px;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 200px;
  margin: 16px;
  float: left;
  }
  .note h1 {
  font-weight: bold;
  text-align:left;
  font-size: 1.1em;
  margin-bottom: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
  }
  .note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  }

  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color:#2b95af;
    border-radius:50%;
  }
  
  .note button:hover{
    transition: 0.2s;
    background:rgb(41, 208, 250);
  }
  
  .box {
    width:200px;
  }
  
  .box h1 {
    transform: rotate(-2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 0% 25% 30%;
    background-color: #4fbeff;
    font-size: 1.5rem;
  }

  /*
  IF TABLE NEEDED
  
  
  .menu-content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 300px;
    margin: 5% auto;
  }
  .menu-content-table thead tr {
    background-color:#2b95af;
    color:#fff;
    text-align: left;
    font-weight: bold;
  }
  .menu-content-table tbody tr {
    text-align: left;
    border-bottom: 1px solid #dddddd
  }
  .menu-content-table tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  .menu-content-table th,
  .menu-content-table td
  {
    padding: 12px 0;
  }
  .menu-content-table tbody tr:last-of-type {
    border-bottom: 2px solid #2b95af;
  } */

  
  