
.menubox_container{
  margin-top:50px;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
}
.menu_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
    
}
.categories {
  float: left;
  margin: 16px;
}

.categories li {
  list-style-type: none;
}
.receipt{
  position: relative;
  padding: 2% 2%;
  float: right;
  margin: 16px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  width: 200px;
  height: 200px;
  overflow: auto;
}

.box {
  width:200px;
}

.box h1 {
  transform: rotate(-2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 0% 25% 30%;
  background-color: #4fbeff;
  font-size: 1.5rem;
}

  


  
  