
.menu-container {
    padding: 2% 7%;
    text-align:center;
    position: relative;
    height: 60vh;
}

.menu-contents {
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.menu-buttons-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu-buttons{
    margin: 2% 0;
    width: 250px;
    height: 35px;
    font-size: 1.5rem;
    border:1px solid;
    border-color:#4723D9;
    background-color: #4723D9;
    border-radius:10px;
    color:rgba(235, 205, 38);
    cursor:pointer;
}
.menu-buttons:hover{
    transition: 0.4s;
    background-color: #603dee;
}

