.menu_container {
    padding: 2% 5%;
    text-align:center;
    position: relative;
    height: 60vh;
}

.menu_contents {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.custom-shape-divider-bottom-1625156419 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625156419 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1625156419 .shape-fill {
    fill: #183041;
}

