.note_container{
    width: 500px;
    display:grid;
    grid-template-columns: auto auto;
}

.product {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 200px;
    margin: 16px;
}

.product h1 {
    font-weight: bold;
    text-align:left;
    font-size: 1.1em;
    margin-bottom: 6px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.product p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.product button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color:#4723D9;
    border-radius:50%;
}

.product button:hover{
    transition: 0.4s;
    background:#603dee;
}